$yellow: #fff000;
$green: green;
$red: red;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margenes-internos($top, $left, $rigth, $bottom) {
    padding-top: $top;
    padding-left: $left;
    padding-right: $rigth;
    padding-bottom: $bottom;
}
.jumbotron {
    background-image: url('../images/portada.jpg');
    background-size: 100% 100%;
    color: $white;
    font-weight: 400;
    @include margenes(55px, 5px);
    height: 350px;
}

.footer {
    background-color: $white;
    color: #fff;
    padding: 10px 10px 0 10px;
    @include margenes(10px, 0px);
}

.card-notice {
    flex: 1 250px;
    padding: 2px 0px 0px 0px;
    @include margenes(10px, 0px);
}

.btn-sm {
    width: 100%;
    border-radius: 0px;
}

address {
    text-align: center;
}

.footer-adress-icon {
    padding-right: 10px;
}

.cards-adress-icon{
    padding-right: 5px;
}

.button{
    text-align: center;
}

table th{
    text-align: center;
}