.jumbotron {
  background-image: url('../images/portada.jpg');
  background-size: 100% 100%;
  color: #fff;
  font-weight: 400;
  margin-top: 55px;
  margin-bottom: 15px;
  height: 350px;
}
.footer {
  background-color: #1e6cb0;
  color: #fff;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-notice {
  flex: 1 250px;
  padding: 2px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-sm {
  width: 100%;
  border-radius: 0px;
}
address {
  text-align: center;
}
.footer-adress-icon {
  padding-right: 10px;
}
.cards-adress-icon {
  padding-right: 5px;
}
.button {
  text-align: center;
}
table th {
  text-align: center;
}
