@blue : #1e6cb0;

@black: #000;
@white: rgb(53, 49, 49);

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-image: url('../images/portada.jpg');
    background-size: 100% 100%;
    color: @white;
    font-weight: 400;
    .margenes(55px, 15px);
    height: 350px;
}

.footer {
    background-color: @blue;
    color: @white;
    padding: 10px 10px 0 10px;
    .margenes(10px, 0px);
}

.card-notice {
    flex: 1 250px;
    padding: 2px 0px 0px 0px;
    margin-top: 10px;
    .margenes(10px, 0px)
}

.btn-sm {
    width: 100%;
    border-radius: 0px;
}

address {
    text-align: center;
}

.footer-adress-icon {
    padding-right: 10px;
}

.cards-adress-icon{
    padding-right: 5px;
}

.button{
    text-align: center;
}

table th{
    text-align: center;
}